@import "tailwindcss";

/* Floating background bubbles */
.bubble-test {
  position: absolute;
  bottom: -200px;

  background: rgba(109, 197, 248, 0.25);
  border-radius: 50%;

  backdrop-filter: blur(4px);
  filter: blur(0.5px);

  animation: bubbleTestFloat linear infinite;
}

/* Bubble floating animation */
@keyframes bubbleTestFloat {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.9;
  }

  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0.2;
  }
}
